

.board-container {
  margin: 0 auto;
  text-align: center;
  display: table;
}

.game-square {
  border: 2px solid white;
  width: 120px;
  height: 120px;
}

/* making the game-squares into tic tac toe board */ 

.game-square:hover {
  border: 5px solid white;
}

.game-square:active {
  border: 5px solid gray;
}

.topLeft {
  border-top: none;
  border-left: none;
}

.topMiddle {
 border-top: none;
}

.topRight {
  border-right: none; 
  border-top: none;
}

.leftMiddle {
  border-left: none;
}

.rightMiddle {
  border-right: none;
}

.bottomLeft {
  border-bottom: none;
  border-left: none;
}

.bottomMiddle {
  border-bottom: none;
}

.bottomRight {
  border-right: none;
  border-bottom: none;
}

body {
  background-image: linear-gradient(orange, cyan); 
}

.jumbotron {
  background: none;
  color: white;
}

h3 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

#playerTwoPic {
  -webkit-transition: 2s; /* Safari */
  transition: 0.5s;
  float: right; 
}

#playerOnePic {
  -webkit-transition: 2s; /* Safari */
  transition: 0.5s;
}

p {
  text-align: center;
  color: red;
  font-size: 45px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


